// 字体颜色定义规范
$color-orange = #fc9153
$color-skyblue = #3995F7
$color-blue = #2d3a4b
$color-Pink = #FFE7D5
$color-grenn = #3eaf7c
$color-regular-blue = #4a4c5b
$color-background = #f3f4f5
$color-gray = #9C9C9C
$color-black = #333333

//字体定义规范
$font-size-20 = 20px
$font-size-22 = 22px
$font-size-24 = 24px
$font-size-26 = 26px
$font-size-28 = 28px
$font-size-30 = 30px
$font-size-32 = 32px
$font-size-34 = 34px
$font-size-36 = 36px
$font-size-40 = 40px
$font-size-44 = 44px
$font-size-48 = 48px
$font-size-54 = 54px
$font-size-96 = 96px

//边框颜色定义规范
$color-row-line = #ebebeb

//背景色定义规范
$color-bg-FFFFFF = #FFFFFF
$color-bg-mask = rgba(0,0,0,0.3)

